@use './common/common';
@import "./common/reset.css";
@import "./common/font.css";

.first-section {
  background: common.$main-gradient;
  padding-top: 50px;
  min-height: 100vh;
  position: relative;

  &:after {
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
    height: 200px;
    content: '';
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }

  .line-separator {
    position: absolute;
    bottom: -10px;
    height: 10px;
    left: 0;
    right: 0;
    width: calc(100% - 40px);
    margin: 0 auto;
    background: #CACADB;
    border-radius: 0 0 12px 12px;

    &:after {
      content: '';
      height: 10px;
      left: 0;
      border-radius: 0 0 12px 12px;
      position: absolute;
      bottom: -10px;
      right: 0;
      margin: 0 auto;
      background: #E7E7F2;
      display: block;
      width: calc(100% - 40px);
    }
  }

  .anchor-btn {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
    transition: all 0.3s;

    &:hover {
      color: common.$accent;

      .icon {
        stroke: transparent;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background: common.$second-gradient;
  }

  header.flex {
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .nav {
    justify-content: flex-end;
    gap: 15px;
    margin-top: 16px;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: common.$white;
  }

  .social-block {
    align-items: center;
    gap: 13px;

    .facebook-link {
      width: 24px;
      height: 24px;
      position: relative;
      top: 3px;
    }

    &__list {
      color: common.$white;
      align-items: center;
      list-style-position: inside;
      gap: 10px;
    }
  }
}

.logo-wrapper {
  position: absolute;
  right: 50%;
  max-width: 60vw;
  height: 100%;
  bottom: 0;
  width: 100%;
  max-height: 70vh;
  transform: translate(50%, 0);

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .splash, .logo-large, .logo-text {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .logo-large {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-text {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    z-index: 2;
    top: 60px;
  }
}

.second-section {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);

  .ui-tabs-vertical {
    width: 55em;
  }

  .ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
  }

  .ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
  }

  .ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
  }

  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
  }

  .ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 40em;
  }
}

.third-section {
  background: common.$third-gradient;
  position: relative;

  h3 {
    color: common.$blue-regular;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;

  }

  .serv {
    color: common.$gray-text;
  }

  h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-top: 10px;
    padding-bottom: 60px;
  }

  .container {
    max-width: 1360px;
    margin: 0 auto;
  }

  .cards-wrapper {
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  .card {
    max-width: 400px;
    width: 100%;

    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      padding-top: 30px;
      padding-bottom: 15px;
      text-transform: none;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: common.$white;
      text-align: justify;
    }
  }

  .svg-background {
    width: 92px;
    height: 92px;
    background: #FFFFFF;
    border-radius: 24px;
    position: relative;

    svg {
      position: absolute;
      top: 14px;
      left: 14px;
    }
  }

  .line-separator {
    position: absolute;
    bottom: -10px;
    height: 10px;
    left: 0;
    right: 0;
    width: calc(100% - 40px);
    margin: 0 auto;
    background: #CACADB;
    border-radius: 0 0 12px 12px;

    &:after {
      content: '';
      height: 10px;
      left: 0;
      border-radius: 0 0 12px 12px;
      position: absolute;
      bottom: -10px;
      right: 0;
      margin: 0 auto;
      background: #E7E7F2;
      display: block;
      width: calc(100% - 40px);
    }
  }

}

.fourth-section {
  .slider-section {
    padding: 60px 0 77px;

    .slider {
      border-radius: 12px;
      background: common.$gray-bg;
    }

    .slider__item {
      color: common.$gray-text;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        max-width: 413px;
        object-fit: cover;
        @media screen and (max-width: 768px) {
          max-width: 60px;
          position: absolute;
          height: 60px;
          border-radius: 50%;
          bottom: 20px;
          left: 20px;
        }
      }

      .small-text {
        @media screen and (max-width: 768px) {
          padding-left: 70px;
        }
      }

      p {
        font-size: 16px;
        margin-top: 5px;
      }

      .caps {
        color: common.$blue-regular;
        margin-bottom: 3px;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .hero {
        background: common.$hero-gradient;
        -webkit-background-clip: text;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 20px;
      }

      & > .flex {
        gap: 40px;
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }
      }

      .rc {
        padding: 40px 0;
        @media screen and (max-width: 768px) {
          order: -1;
          padding: 20px;
        }
      }
    }
  }

  .cases {
    .container {
      max-width: 1360px;
      margin: 0 auto;
    }

    .cases-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 30px;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: #F5F5FA;
        padding: 20px 20px 20px;
        border: 1px solid #FFFFFF;
        height: 198px;
        max-width: 425px;
        width: 100%;
      }

      div:first-of-type {
        max-width: 1275px;
        height: fit-content;
        text-transform: uppercase;
        color: common.$accent
      }

      .card {
        p {
          font-size: 24px;
          line-height: 28px;
          align-items: flex-end;
          color: #686887;
          padding-bottom: 20px;
        }

        h4 {
          font-size: 18px;
          line-height: 26px;
          color: #B3B3BA;
        }
      }
    }
  }
}

.fifth-section {
  justify-content: center;
  padding-bottom: 40px;

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0;
  }

  .flex {
    justify-content: center;
    flex-wrap: wrap;
  }

  .img {
    max-width: 360px;
    width: 100%;
    height: 120px;
  }

  .card-hillel {
    background: #1C4280;
  }

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: common.$main;
    padding-bottom: 30px;
  }
}
